click==8.0.3
Flask==2.0.2
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
kazoo==2.5.0
MarkupSafe==2.0.1
pykafka==2.8.0
six==1.16.0
tabulate==0.8.9
typing-extensions==3.10.0.2
Werkzeug==2.0.2
zipp==3.6.0